@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --btn-bg:#62ab00;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* -----------HAEDER-------------- */
header{
    height: 80px;
}
nav{
    margin: 1rem 10rem 0rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0rem 1rem;
}
nav ul li a{
    color: black;
    font-size: 18px;
    transition: all .5s ease ;

}
nav ul li a:hover{
    color: white;
    border-radius: 5px;
    font-size: 18px;
    background: var(--btn-bg);
    padding: 10px 25px;

}